In [1]:
import numpy as np
import pandas as pd
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, expr

from pydataset import data
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import *

Create a spark data frame that contains your favorite programming languages.
- The name of the column should be <code>language</code>
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [4]:
programming2021 = pd.DataFrame(
    {'language': ['c++', 'javascript', 'PHP', 'python', 'go']}
)
programming2021

     language
0         c++
1  javascript
2         PHP
3      python
4          go

In [7]:
programming = spark.createDataFrame(programming2021)

In [9]:
# view the schema

programming.printSchema()

root
 |-- language: string (nullable = true)

In [14]:
# output the shape

print((programming.count(), len(programming.columns)))

(5, 1)

In [16]:
# show the first 5 reords

programming.show(5)

+----------+
|  language|
+----------+
|       c++|
|javascript|
|       PHP|
|    python|
|        go|
+----------+

Load the <code>mpg</code> dataset as a spark dataframe.
- Create 1 column of output that contains a message like the one below: <br>
    <code>The 1999 audi a4 has a 4 cylinder engine.</code> <br>
    For each vehicle.
- Transform the <code>trans</code> column so that it only contains either <code>manual</code> or <code>auto</code>

In [21]:
mpg = spark.createDataFrame(data('mpg'))
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [26]:
# Create 1 column of output that contains a message like the one below:

# The 1999 audi a4 has a 4 cylinder engine.

mpg.select(
    concat(
        lit('The '),
        col('year'),
        lit(' '),
        col('manufacturer'),
        lit(' '),
        col('model'),
        lit(' has a '),
        col('cyl'),
        lit('cylinder engine.')
    ).alias('vehicle_cyl')).show(truncate=False)

+-------------------------------------------------------------+
|vehicle_cyl                                                  |
+-------------------------------------------------------------+
|The 1999 audi a4 has a 4cylinder engine.                     |
|The 1999 audi a4 has a 4cylinder engine.                     |
|The 2008 audi a4 has a 4cylinder engine.                     |
|The 2008 audi a4 has a 4cylinder engine.                     |
|The 1999 audi a4 has a 6cylinder engine.                     |
|The 1999 audi a4 has a 6cylinder engine.                     |
|The 2008 audi a4 has a 6cylinder engine.                     |
|The 1999 audi a4 quattro has a 4cylinder engine.             |
|The 1999 audi a4 quattro has a 4cylinder engine.             |
|The 2008 audi a4 quattro has a 4cylinder engine.             |
|The 2008 audi a4 quattro has a 4cylinder engine.             |
|The 1999 audi a4 quattro has a 6cylinder engine.             |
|The 1999 audi a4 quattro has a 6cylinder engine.             |
|The 2008 audi a4 quattro has a 6cylinder engine.             |
|The 2008 audi a4 quattro has a 6cylinder engine.             |
|The 1999 audi a6 quattro has a 6cylinder engine.             |
|The 2008 audi a6 quattro has a 6cylinder engine.             |
|The 2008 audi a6 quattro has a 8cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a 8cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a 8cylinder engine.|
+-------------------------------------------------------------+
only showing top 20 rows

In [ ]:
# Transform the trans column so that it only contains either manual or auto.