In [1]:
import numpy as np
import pandas as pd
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, expr

from pydataset import data
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import *

Create a spark data frame that contains your favorite programming languages.
- The name of the column should be <code>language</code>
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [4]:
programming2021 = pd.DataFrame(
    {'language': ['c++', 'javascript', 'PHP', 'python', 'go']}
)
programming2021

     language
0         c++
1  javascript
2         PHP
3      python
4          go

In [7]:
programming = spark.createDataFrame(programming2021)

In [9]:
# view the schema

programming.printSchema()

root
 |-- language: string (nullable = true)

In [13]:
# output the shape

print(programming.count(), len(programming.columns))

5 1